.department-list {
    display: grid;
    grid-template-columns:auto auto;
    gap: 20px;
    padding: 30px 0;
    text-align: center;

}

.department-item {
    background: #F7F7F2;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    font-size: 1.1rem;
    color: #21897E;
    font-weight: bold;
    display: block;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}